
@import "_variables.sass"


// dice icons
.icon
	font-family: StarWarsSymbols
	color: $heading
	position: relative
	line-height: 1em !important
	display: inline-block
	
.shadowed:after
	position: absolute
	top: 0
	left: 0
	color: darken($heading, 10%)


.ability
	color: map-get($dice, "ability")

	&:after
		content: "D"

.proficiency
	color: map-get($dice, "proficiency")

	&:after
		content: "C"

.setback:after
	content: "B"
	

.boost
	color: map-get($dice, "boost")

	&:after
		content: "B"

.challenge
	color: map-get($dice, "challenge")

	&:after
		content: "C"

.difficulty
	color: map-get($dice, "difficulty")

.force
	color: white

	&:after
		content: "C"

.lightside
	color: white

	&:after
		content: "Z"

@font-face
	font-family: StarWarsSymbols
	src: url(../fonts/starwars-dice-symbols.otf), url(../fonts/starwars-dice-symbols.woff) format("woff")