
@import "_variables.sass"
@import "_mixins.sass"
@import "_media.sass"
@import "base.sass"
@import "dice.sass"



h1
	margin-top: 0
	font-family: 'Titillium Web', sans-serif
	color: white
	background-color: $derived
	padding: 1rem 3rem 1rem 1rem

	svg
		position: relative
		top: 0.15em

h2.subtitle
	font-size: 1.25rem
	text-align: right
	margin-right: 1rem
	line-height: 1em

	&.minion
		color: $link

	&.rival
		color: $derived

	&.nemesis
		color: $stat

.text
	margin: 0 1rem


// LAYOUT
#built-by
	font-size: 0.8em
	padding: 0.2em 1em 0.2em 0.5rem
	clear: both

.filter
	margin: 2em 1em 0
	position: relative

	input[type="text"]
		width: 100%
		color: $heading
		font-size: 1.1em
		padding: 0.2em 0.5em
		background-color: white
		border: 1px solid darken($link, 20%)
		border-radius: 0.2em
		@include hover()

		&:focus
			outline: 2px solid rgba($link, 0.5)
			border-color: $link
			@include shadow-input($font, $link)

	#clear
		position: absolute
		top: 0.1em
		right: 0.1em
		bottom: 0.1em
		background-color: white
		padding: 0.35em 0.3em 0 0.5em

#menu, #mobile-menu
	margin: 0
	position: relative
	z-index: 200
	background-color: $tabBgColour
	border-bottom: 2px solid $derived

#menu
	display: none

	&>li
		display: inline-block
		padding: 0.5em
		cursor: pointer
		border: 1px solid $tabBgColour
		@include hover()

		&:hover, &.active
			color: darken($font, 20%)

		svg
			position: relative
			top: 0.2em

	&>li.active ul
		display: block
		opacity: 1

	ul
		position: absolute
		margin: 0
		padding: 0.5em
		border-radius: 0 0 0.2em 0.2em
		left: -1px
		display: none
		opacity: 0
		z-index: 10
		box-shadow: 0 6px 12px rgba($font, 0.5)
		background-color: $tabBgColour

		li
			padding: 0.3em
			margin: 0.2em
			border-radius: 0.2em
			display: inline-block
			background-color: rgba(255,255,255,0.5)
			@include hover()

			&:hover
				background-color: $tabBgColour

			.link
				text-decoration: none

#mobile-menu
	padding: 0.5em 0.2em
	position: fixed
	top: 0
	left: 0
	right: 0

#navigation
	margin: 0
	height: 100%
	position: fixed
	background-color: $body
	border-right: 2px solid $derived
	z-index: 100
	max-width: 20em

	p
		padding-left: 1.5em

	#adversaries
		position: absolute
		top: 7em
		left: 0
		right: 0
		bottom: 2em
		padding-left: 1.5em
		margin: 0
		overflow-y: auto
		padding-bottom: 2em

		li
			padding: 0.2em 0
			@include hover()

			&:hover, &.selected
				background-color: white

			&.selected
				font-weight: bold
				padding: 0.3em

				svg
					position: relative
					top: 0.1em

				.link
					text-decoration: none

#tabs
	display: none
	margin: 0
	padding: 0 0 0.5em
	background-color: $tabBgColour
	position: fixed
	bottom: 0
	right: 0
	left: 0
	border-top: 2px solid $derived
	list-style-type: none
	z-index: 50

	li
		padding: 0.5em
		display: inline-block
		cursor: pointer

		&.active
			font-weight: bold
			color: $derived
			background-color: $body
			position: relative
			top: -2px
			border-width: 0 2px 2px 2px
			border-style: solid
			border-color: $derived
			border-radius: 0 0 0.2em 0.2em

		&.tools
			padding: 0 0 0 0.5em

			svg
				font-size: 0.7em

		.btn:hover
			color: $link

#content
	margin-top: 2em

	.loading
		margin: 2em

// STAT BLOCKS

.stats
	margin: 0
	font-size: 0.9em
	padding: 0 1rem

	div
		text-align: center
		margin-bottom: 1.5em

	span
		font-size: 2.5em
		font-weight: bold
		color: $heading
		display: inline-block
		box-sizing: border-box
		padding-top: 0.25em

	h3
		line-height: 1em
		font-size: 1.1em
		padding: 0.5em 0.3em 0.3em 0.3em
		margin: 0
		font-weight: normal
		font-family: 'Source Sans Pro', sans-serif

#characteristics
	margin: auto
	width: 15.118rem

	div
		box-sizing: border-box
		display: inline-block
		margin-right: 1em
		background-color: $stat
		color: white
		width: 7.4em
		border-radius: 0.5em
		border: 2px solid $heading
		overflow: hidden

	span
		background-color: white
		border-radius: 100%
		margin: 0.3em 0
		width: 1.7em
		height: 1.7em
		border: 3px solid $heading

	h3
		background-color: $statText

#derived
	margin: 0.5em 0 1em 0

	div
		background-color: white
		border: 2px solid $derived
		border-radius: 0.5em
		width: 10em
		margin-right: auto
		margin-left: auto

	span
		height: 1.5em

	h3
		background-color: $derived
		color: $body
		margin: 0

		small
			display: block
			font-size: 0.7em

	input[type="text"]
		display: inline-block
		border-width: 0
		border-bottom: 2px solid $derived
		font-size: 2em
		width: 1.5em
		margin: 0.2em 0.2em 0.3em 0.3em
		padding: 0.2em
		text-align: center
		font-weight: bold
		color: $heading

		&:hover
			background-color: #eee


// SKILLS
.info
	clear: both
	margin: 0 0 1.5em

	ul, .directory, p, h2
		margin-left: 1em
		margin-right: 1em

	h2
		margin-top: 0
		color: $derived
		text-align: center

.skills td
	vertical-align: middle

.damage
	display: inline

	&:first-of-type:after
		content: " / "


	small
		display: inline-block
		width: 4.2em

.quality
	padding: 1em
	margin: 1em 0
	background-color: white
	border-top: 1px solid $derived
	border-bottom: 1px solid $derived

	h3
		color: $derived
		font-size: 1.1em
		margin: 0 0 0.2em

#show-all
	text-align: right
	margin-bottom: 1em

	svg
		position: relative
		top: 0.1em


// MEDIA OVERRIDES
@media screen and (min-width: $screen-small)
	#characteristics
		width: 25.3em

	#derived div
		float: left
		margin-right: 1rem

	.damage
		display: block

		&:first-of-type:after
			content: ""


@media screen and (min-width: $screen-medium)
	#characteristics
		width: 50.5em

	.info h2
		text-align: left

	#tabs
		display: block

	#show-all
		margin-top: -2.5em

	#content.large
		padding-bottom: 3em

	.stats
		padding: 0

	#characteristics
		width: 100%
		margin: 0 1em

	#menu
		position: fixed
		top: 0
		left: 0
		right: 0

		&>li
			position: relative

			&:hover, &.active
				border-left-color: $derived
				border-right-color: $derived

		ul
			width: 20em
			top: 2.33em
			border-width: 0 1px 1px 1px
			border-style: solid
			border-color: $derived


@media screen and (min-width: $screen-large)
	h1
		display: inline-block
		border-radius: 0 3rem 3rem 0
		position: fixed
		top: 1em

	h2.subtitle
		margin: 1.6em 3em 2.5em 0

	#characteristics
		margin: 0

	.column
		float: left
		overflow: hidden

		&.small
			width: 20em

	#content
		.column.large
			width: 37.5em

		.column.small
			width: 16em
			margin-left: 1.5em

	#menu ul
		max-width: 30em

	.info
		ul, .directory, p, h2
			margin-left: 0
			margin-right: 0


@media screen and (min-width: $screen-xlarge)
	#tabs
		padding-left: 23rem

	#built-by
		position: fixed
		bottom: 0
		left: 0
		padding: 0.2em 1em 0.2em
		background-color: $body
		z-index: 150

	#navigation
		display: block
		margin-top: 2em
		width: 21.5em
		max-width: none

	#content
		margin-left: 21.5em
		width: 58em

		.large
			padding-bottom: 5em

		.column.small
			margin-left: 1.5em

	#characteristics div:nth-child(even)
		margin-right: 0

	#menu
		display: block

	#mobile-menu
		display: none


// SMALLER SCREEN SLIDING MENU
@media screen and (max-width: $screen-xlarge)
	#navigation
		top: 2em
		left: 0
		right: 0
		bottom: 0

		&.menu-closed
			transform: translateX(-100%)
			animation: slide-out 0.5s ease

		&.menu-open
			transform: translateX(0)
			animation: slide-in 1s ease

@keyframes slide-in
	from
		transform: translateX(-100%)
	to
		transform: translateX(0)

@keyframes slide-out
	from
		transform: translateX(0)
	to
		transform: translateX(-100%)


// DEBUG
#debug
	padding: 0.5em
	position: fixed
	display: block
	right: 0
	bottom: 0
	z-index: 1000
	color: rgba(255,255,255,0.7)
	background-color: red

	&:after
		content: "Screen: xsmall"

@media screen and (min-width: $screen-small)
	#debug
		background-color: orange

		&:after
			content: "Screen: small"

@media screen and (min-width: $screen-medium)
	#debug
		background-color: green

		&:after
			content: "Screen: medium"

@media screen and (min-width: $screen-large)
	#debug
		background-color: blue

		&:after
			content: "Screen: large"

@media screen and (min-width: $screen-xlarge)
	#debug
		background-color: indigo

		&:after
			content: "Screen: xlarge"
